name: sysinfo CI
on: push

jobs:

    C-lint-sysinfo:
      runs-on: ubuntu-latest
      steps:
            - name: sysinfo checkout
              uses: actions/checkout@v6
            - name: sysinfo lint
              run: make lint

    C-compilation-sysinfo:
        runs-on: ubuntu-latest
        needs: C-lint-sysinfo
        steps:
            - name: sysinfo checkout
              uses: actions/checkout@v6
            - name: sysinfo compilation
              run: make build
    
    Py-lint-mysystem:
        runs-on: ubuntu-latest
        steps:
            - name: sysinfo checkout
              uses: actions/checkout@v6
            - name: Python environment
              uses: actions/setup-python@v5
              with:
                python-version: 3.12
            - name: lint verification
              run: |
                pip install ifaddr psutil pylint
                pylint --disable=missing-docstring script/mysystem/mysystem.py

    Py-run-mysystem:
        runs-on: ubuntu-latest
        needs: Py-lint-mysystem   
        steps:
            - name: sysinfo checkout
              uses: actions/checkout@v6
            - name: Python environment
              uses: actions/setup-python@v5
              with:
                python-version: 3.12
            - name: run script
              run: |
                pip install ifaddr psutil 
                python script/mysystem/mysystem.py                
