name: sysinfo CI
on: push

permissions:
  id-token: write
  contents: read
  attestations: write

jobs:

    C-lint-sysinfo:
      runs-on: ubuntu-latest
      steps:
            - name: sysinfo checkout
              uses: actions/checkout@v6
            - name: sysinfo lint
              run: make lint

    C-compilation-sysinfo:
        runs-on: ubuntu-latest
        needs: C-lint-sysinfo
        steps:
            - name: sysinfo checkout
              uses: actions/checkout@v6
            - name: sysinfo compilation
              run: make build
            - name: Generation des attestations
              uses: actions/attest-build-provenance@v1
              with: 
                subject-path: 'bin/sysinfo'
            - uses: actions/upload-artifact@v4
              with:
                name: artefact01
                path: bin/sysinfo
    
    Py-lint-mysystem:
        runs-on: ubuntu-latest
        steps:
            - name: sysinfo checkout
              uses: actions/checkout@v6
            - name: Python environment
              uses: actions/setup-python@v5
              with:
                python-version: 3.12
            - name: lint verification
              run: |
                pip install ifaddr psutil pylint
                pylint --disable=missing-docstring script/mysystem/mysystem.py

    Py-run-mysystem:
        runs-on: ubuntu-latest
        needs: Py-lint-mysystem   
        steps:
            - name: sysinfo checkout
              uses: actions/checkout@v6
            - name: Python environment
              uses: actions/setup-python@v5
              with:
                python-version: 3.12
            - name: run script
              run: |
                pip install ifaddr psutil 
                python script/mysystem/mysystem.py

    C-run-sysinfo:
      runs-on: ubuntu-latest
      needs: C-compilation-sysinfo
      steps:
        - uses: actions/download-artifact@v4
          with:
            name: artefact01
        - name: run c-compile
          run: |
                 chmod +x sysinfo
                 ./sysinfo

    deploiC:
      if: startsWith(github.ref, 'refs/tags/v') && contains(github.ref, '.')
      permissions:
        contents: write
        packages: write
      runs-on: ubuntu-latest
      steps:
        - name: Validate version tag format
          run: |
            TAG=$(echo "${{ github.ref }}" | sed 's/refs\/tags\///')
            if [[ ! $TAG =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
              exit 1
            fi
        - name: depl_C
          uses: softprops/action-gh-release@v2
          with:
            files: |
              bin/sysinfo
