name: ci_03
on: push

jobs:
  build-C:
    runs-on: ubuntu-latest
    steps:
      - name: compil
        run: make build
      - name: debug
        run: make debug
  build-py:
    runs-on: ubuntu-latest
    steps:
      - name: recup sysinfo
        uses: actions/checkout@v6
      - name: python 3.12
        uses: action/setup-python@v5
        with: 
          python-version: '3.12'
      - name: dep install
        run: pip install ifaddr pylint psutil
      - name: exec du test
        run: pylint --disable=missing-docstring script/mysystem/mysystem.py

